.page {
  position: relative;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerLayer {
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .headerLayer {
    padding: 0 16px;
  }
}
