.section {
  --section-inner-gap: 52px;
  --section-inner-gap-mobile: 32px;
  --section-padding-y: 104px;
  --section-padding-y-mobile: 72px;
  --section-title-size: 28px;
  --section-title-line-height: 36px;
  --section-title-size-mobile: 24px;
  --section-title-line-height-mobile: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alert {
  padding: 16px 20px;
  border-radius: 16px;
  background: var(--color-error-50);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.alertTitle {
  composes: pretendard-bold-16 from global;
  margin: 0;
  color: var(--color-error-500);
}

.alertText {
  composes: pretendard-medium-14 from global;
  color: var(--color-gray-600);
}

.programGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 20px;
}

.programCard {
  padding: 24px 32px;
  border-radius: 16px;
  background: var(--color-gray-50);
}

.programInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.programTag {
  composes: pretendard-medium-12 from global;
  height: 24px;
  padding: 0 8px;
  border-radius: 32px;
  background: #ffffff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-brand-500);
  white-space: nowrap;
}

.programCopy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.programTitle {
  composes: pretendard-bold-18 from global;
  margin: 0;
  color: var(--color-gray-800);
}

.programDescription {
  composes: pretendard-medium-14 from global;
  color: var(--color-gray-600);
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.noteGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.noteTitle {
  composes: pretendard-medium-12 from global;
}

.noteText {
  composes: pretendard-medium-12 from global;
}

.stepText {
  composes: pretendard-medium-12 from global;
}

.noteTitle,
.noteText,
.stepText {
  color: var(--color-gray-400);
}

.stepText {
  margin: 0;
  padding: 0 12px;
  white-space: normal;
}

@media (max-width: 1280px) {
  .content {
    gap: 8px;
  }

  .programGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }

  .programCard {
    padding: 16px 20px;
  }
}

@media (max-width: 768px) {
  .programGrid {
    grid-template-columns: 1fr;
  }
}
