.section {
  --section-inner-gap: 52px;
  --section-inner-gap-mobile: 32px;
  --section-title-size-mobile: 24px;
  --section-title-line-height-mobile: 32px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 20px;
}

@media (max-width: 1440px) {
  .cards {
    gap: 8px;
  }
}

@media (max-width: 1080px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .cards .card {
    padding: 16px 20px;
  }
}
